@import './fonts';
@import './icons';
@import './variables/colors';
@import './variables/grid';
@import './variables/screenResolutions';

html,
body {
  font-family: 'Circe', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    margin: 0;
    padding: 0;
    outline: 0 !important;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    color: $black;
  }

  @media screen and (min-width: $iPad) {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $argent;
    }

    &::-webkit-scrollbar-thumb {
      width: 10px;
      background-color: $purple;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $purple;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
